<div class="mx-auto">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="/">Care Assist</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="try-post">Post a Job</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="#" href="#">Find Job</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mx-5">
                <li class="nav-item mx-5">
                    <a class="btn btn-sm" style="outline: 1px solid #0089ba; outline-offset: 1px;">Sign in</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn border-0 btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" style="outline: 1px solid #0089ba; outline-offset: 1px;">
                        Sign up
                    </button>
                    <app-create-account> </app-create-account>
                </li>
            </ul>
        </div>
    </nav>
</div>