
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-start mb-3">
    </div>
    <div class="card">
      <div class="col-md-6 col-lg-12 col-sm-4">
        <div>
          <table id="example" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>NIDA</th>
                <th>Attachment</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users ; index as i">
              <tr>
                <td>{{i + 1}}</td>
                <td>{{user.email}}</td>
                <td>{{user.firstname}}.{{user.lastname}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.nida}}</td>
                <td>Attachment</td>
                <td>
                  <span class="px-3">
                    <button class="btn btn-default text-info">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-default text-danger" title="Delete" (click)="ondeleteRecord(user.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>