<div class="row justify-content-center">

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #userForm="ngForm" (ngSubmit)="onSaveFormUser(userForm.value)">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-person-vcard"></i> Create New
                        Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input id="email" name="email" type="email" class="form-control" ngModel required />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input id="password" name="password" type="password" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info text-white" data-bs-dismiss="modal"
                        [disabled]="userForm.invalid && userForm.touched">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>