<footer class="site-footer" >
    <div class="footer-links">
        <a href="#">Domestic workers</a> |
        <a href="#">Trust Us.com</a> |
    </div>

    <div class="footer-policies">
        <a href="#">Policies and rules</a> ·
        <a href="#">Legal Notice</a> ·
        <a href="#">Privacy Policy</a> ·
        <a href="#">Terms of Use</a> ·
        <a href="#">Integrity Compliance</a>
    </div>

    <div class="footer-copy">
        <p>© 2024-2025 Trustdomesticworkers.com</p>
    </div>
</footer>