<div class="container pt-5">
    <div class="text-start mb-5">
        <h1 class="fw-bold">Find Your Dream Job</h1>
        <p class="text-muted">
            Discover opportunities from leading companies around the world.
        </p>
        <div class="input-group w-50">
            <input type="text" class="form-control" placeholder="Search jobs, companies, or keywords" />
            <button class="btn btn-default button-color text-white" type="button">Search Jobs</button>
        </div>
    </div>
</div>