<!-- Modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add New
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <form #userform='ngForm' name="user" (ngSubmit)="create(userform)"> -->
      <form #userform="ngForm" name="user" (ngSubmit)="onAccountCreate(userForm.value)">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bi bi-person-vcard"></i>Create New Account
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"></span>
          <input type="text" class="form-control" placeholder="Username"  ngModel aria-label="Username" aria-describedby="basic-addon1" ngModel>
        </div>
        <div>
          <small *ngif="userform.invalid && userform.touched">Username ir required</small>
        </div> 

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username"   name="username" aria-label="Recipient's username" aria-describedby="basic-addon2" required >
          <span class="input-group-text" id="basic-addon2">example.com</span>
        </div>
       
        
        <div class="mb-3">
          <label for="basic-url" class="form-label">Your vanity URL</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" ngModel >
          </div>
          <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
        </div>
        
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ngModel >
          <span class="input-group-text">.00</span>
        </div>
        
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" aria-label="Username">
          <span class="input-group-text"></span>
          <input type="text" class="form-control" placeholder="Server" aria-label ngModel>
        </div>
        
        <div class="input-group">
          <span class="input-group-text">With textarea</span>
          <textarea class="form-control" aria-label="With textarea" ngModel ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <input type="submit" name="save" [disabled]="userform.touched && userForm.invalid" class="btn btn-info">
      </div>
    </form>
    </div>
  </div>
</div>