.card {
 border-radius: 8px;
}
  
.card-title {
    font-size: 1.25rem;
}
  
.card-footer {
    font-size: 0.875rem;
}
  
.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.button-color{
    background-color: #0089ba;
    color:white
}